In [192]:
import pandas as pd
import csv
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')
import numpy as np
import matplotlib.gridspec as gridspec
import sqlite3
from re import search
import datetime
import itertools

In [2]:
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
import tqdm
from tqdm._tqdm_notebook import tqdm_notebook

<ipython-input-2-012d5286050f>:8: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  from tqdm._tqdm_notebook import tqdm_notebook

In [3]:
pd.set_option('display.max_columns', None)

In [6]:
# file_path1 = "Gross disposable income-Table 1.csv"
# file_path2 = "dft-road-casualty-statistics-accident-2020.csv"
# file_path3 = 'education.csv'

file_path1 = '/Users/jasleensandhu/Desktop/DBL/DC2/GDHI - uk/Gross disposable income-Table 1.csv'
file_path2 = '/Users/jasleensandhu/Desktop/Vis/dft-road-casualty-statistics-accident-2020.csv'
file_path3 = 'education.csv'

In [175]:
### Filter out data with the dataframe
### These are Avon coordinates
lang_lats = pd.read_csv('unique_long_lat.csv')

In [176]:
lang_lats = list(pd.Series(lang_lats['0']).values)

In [177]:
lang_lats = [lang_lats[i].strip('()') for i in range(0,len(lang_lats))]
lang_lats = [i.strip(',') for i in lang_lats]
lang_lats = [i.split(', ') for i in lang_lats]
lang_lats = [tuple(coords) for coords in lang_lats]
lang_lats = [float(i) for coords in lang_lats for i in coords]
# [coords for sublist in lst for coords in sublist]
it = iter(lang_lats)
lang_lats = [*zip(it, it)]

In [279]:
avon_df = pd.read_csv('avon_data.csv')

In [281]:
avon_df.columns = ['index','Crime_ID', 'Month', 'Reported_by', 'Falls_within', 'Longitude', 'Latitude', 
                   'Location', 'LSOA_code', 'LSOA_name', 'Crime_type', 'Last_outcome_category', 'Context']

In [7]:
### Features

In [8]:
## Income per region

# education should have education level and region level four for evey region
# find resource
# Gross income index of region

In [90]:
gdhi = pd.read_csv(file_path1, on_bad_lines='skip')

In [92]:
gdhi_2019 = pd.read_csv('GDHI_2019.csv', on_bad_lines='skip')

In [96]:
gdhi_2019 = gdhi_2019.reset_index()

In [100]:
gdhi_2019.head(3)
gdhi_2019['level_0'].unique()
gdhi_2019[gdhi_2019['level_0'] == 'South \nWest']

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,"Table 1: Gross disposable household income by UK and constituent countries and regions, UK, 2019"
11,South \nWest,"5,624,696","21,222",2.4,99.0,"119,370",2.9,8.4,8.3

In [10]:
all_gdhi = []
for i in range(1, len(gdhi)):
    all_gdhi.append(gdhi.iloc[i][0].split(";"))

In [11]:
df_gdhi = pd.DataFrame(all_gdhi[1:],columns=all_gdhi[0])

In [13]:
df_gdhi['1997'] = pd.to_numeric(df_gdhi['1997'])
df_gdhi['1998'] = pd.to_numeric(df_gdhi['1998'])
df_gdhi['1999'] = pd.to_numeric(df_gdhi['1999'])
df_gdhi['2000'] = pd.to_numeric(df_gdhi['2000'])
df_gdhi['2001'] = pd.to_numeric(df_gdhi['2001'])
df_gdhi['2002'] = pd.to_numeric(df_gdhi['2002'])
df_gdhi['2003'] = pd.to_numeric(df_gdhi['2003'])
df_gdhi['2004'] = pd.to_numeric(df_gdhi['2004'])
df_gdhi['2005'] = pd.to_numeric(df_gdhi['2005'])
df_gdhi['2006'] = pd.to_numeric(df_gdhi['2006'])
df_gdhi['2007'] = pd.to_numeric(df_gdhi['2007'])
df_gdhi['2008'] = pd.to_numeric(df_gdhi['2008'])
df_gdhi['2009'] = pd.to_numeric(df_gdhi['2009'])
df_gdhi['2010'] = pd.to_numeric(df_gdhi['2010'])
df_gdhi['2011'] = pd.to_numeric(df_gdhi['2011'])
df_gdhi['2012'] = pd.to_numeric(df_gdhi['2012'])
df_gdhi['2013'] = pd.to_numeric(df_gdhi['2013'])
df_gdhi['2014'] = pd.to_numeric(df_gdhi['2014'])
df_gdhi['2015'] = pd.to_numeric(df_gdhi['2015'])
df_gdhi['2016'] = pd.to_numeric(df_gdhi['2016'])

In [14]:
df_gdhi = df_gdhi.groupby(['Region', 'LA name']).mean()

In [15]:
gdhi = df_gdhi.reset_index()

In [16]:
gdhi.drop(['1997', '1998', '1999', '2000', '2001', '2002', '2003',
                 '2004', '2005', '2006', '2007', '2008',
                 '2009', '2010', '2011', '2012', '2013'], axis=1, inplace=True)

# df.drop('column_name', axis=1, inplace=True)

In [87]:
south_west = gdhi[gdhi['Region'] == 'South West'] # income per house hold per district

In [302]:
income = pd.read_csv('/Users/jasleensandhu/Desktop/DBL/DC2/regionalgrossdisposablehouseholdincomecityregions/Table 1-Table 1.csv')

In [304]:
all_income = []
for i in range(1, len(income)):
    all_income.append(income.iloc[i][0].split(";"))

In [311]:
df_income = pd.DataFrame(all_income[1:],columns=range(0, 25))

In [312]:
df_income.to_csv('df_income.csv', encoding='utf-8', index=False)

In [83]:
# substring = "Avon"
# substring_2 = 'Somerset'
# substring_3 = 'Constabulary'
# district_lst = [i for i in df_gdhi.reset_index()['LA name'] if search(substring, i) ] + [i for i in df_gdhi.reset_index()['LA name'] if search(substring_2, i) ]

In [85]:
#### Filter based on district_lst

# gdhi = gdhi[gdhi['LA name'].isin(district_lst)]

In [19]:
## Education

In [62]:
edu = pd.read_csv(file_path3, on_bad_lines='skip')

In [63]:
all_edu = []
for i in range(1, len(edu)):
    all_edu.append(edu.iloc[i][0].split(";"))

In [64]:
df_edu = pd.DataFrame(all_edu[1:],columns=all_edu[2])

df_edu_without = df_edu.loc[2:15]
df_edu_GCSE = df_edu.loc[20:33]
df_edu_Alevel = df_edu.loc[38:51]
df_edu_degree = df_edu.loc[56:]

In [65]:
df_edu_without.set_index('Date', inplace = True)
df_edu_GCSE.set_index('Date', inplace = True)
df_edu_Alevel.set_index('Date', inplace = True)
df_edu_degree.set_index('Date', inplace = True)

In [67]:
df_edu_without = df_edu_without.T
df_edu_GCSE = df_edu_GCSE.T
df_edu_Alevel = df_edu_Alevel.T
df_edu_degree = df_edu_degree.T

In [69]:
df_education = pd.concat([df_edu_without,df_edu_GCSE, df_edu_Alevel, df_edu_degree], keys=['without', 'GCSE', 'GCE A-level', 'degree'],
          names=['Eduction', 'Region'])

In [72]:
df_education = df_education.reset_index()

In [81]:
### The dataframe that only focuses on South West and this one is needed
south_west_education = (df_education[df_education['Region'] == 'South West'])

In [285]:
south_west_education.to_csv('south_west_education.csv', encoding='utf-8', index=False)

In [27]:
### Road analysis

In [317]:
df_roads = pd.read_csv(file_path2)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [320]:
df_roads['accident_year'].unique()

array([2020])

In [ ]:
## Eke Code
df_roads[df_roads['lsoa_of_accident_location'] == 'E01014399']
df_roads['date'] = df_roads['date'].astype(str)
df_roads['month'] = df_roads['date'].str[3:]
accidents_grouped = df_roads.groupby(["local_authority_district", "month"]).count()

df_accidents = accidents_grouped["accident_index"].unstack() #with NaN values

df_accidents.head(3)

In [59]:
# The columns to to be retirved: accident_year, longitude, latitude, accident_severity, 
# weather_conditions, urban_or_rural_area, lsoa_of_accident_location

### Retrrive relevant columns - relevant df needed for building big df

roads_df = df_roads[['accident_index','accident_year', 'longitude', 'latitude', 'accident_severity', 
                    'weather_conditions', 'urban_or_rural_area', 'lsoa_of_accident_location']]

In [316]:
roads_df['accident_year'].unique()

array([2020])

In [117]:
long_lat_road = (list(zip(roads_df['longitude'], roads_df['latitude'])))

In [122]:
long_lat_road = (pd.Series(long_lat_road).unique())

In [179]:
long_lat_road = list(long_lat_road)

In [249]:
## Filter the relevant rows for getting district for Avon

# filtered_road = list(itertools.filterfalse(lambda x:x not in long_lat_road,lang_lats))
# range approach

sorted_lats = sorted([lang_lats[i][0] for i in range(0, len(lang_lats))])
sorted_lats_range = list(drange(int(sorted_lats[0]), int(sorted_lats[-1]), '0.000001'))

sorted_long = sorted([lang_lats[i][1] for i in range(0, len(lang_lats))])
sorted_long_range = list(drange(int(sorted_long[0]), int(sorted_long[-1]), '0.000001'))

In [255]:
lats_road = [i[0] for i in long_lat_road]
long_road = [i[1] for i in long_lat_road]

In [269]:
filtered_road_lats = list(itertools.filterfalse(lambda x:x not in sorted_lats,lats_road))
filtered_road_long = list(itertools.filterfalse(lambda x:x not in sorted_long,long_road))

In [289]:
## use the longitude coordinates to get more location
# filtered_road_long
roads = (roads_df).drop_duplicates(subset='accident_index')

In [294]:
roads = roads[['accident_year','accident_severity','weather_conditions','urban_or_rural_area','lsoa_of_accident_location']]

array([2020])

In [296]:
roads.to_csv('roads.csv', encoding='utf-8', index=False)

In [265]:
range_1 = (list(drange(int(sorted_lats[0]), int(sorted_lats[-1]), '0.05')))
number = 0.04
 
if number in range_1 :
    print(number, 'is present in the range.')
else :
    print(number, 'is not present in the range.')

0.04 is not present in the range.

In [232]:
[x / 10.0 for x in range(5, 50, 15)]
list(drange(0, 0.5, '0.001'))

[0.0,
 0.001,
 0.002,
 0.003,
 0.004,
 0.005,
 0.006,
 0.007,
 0.008,
 0.009,
 0.01,
 0.011,
 0.012,
 0.013,
 0.014,
 0.015,
 0.016,
 0.017,
 0.018,
 0.019,
 0.02,
 0.021,
 0.022,
 0.023,
 0.024,
 0.025,
 0.026,
 0.027,
 0.028,
 0.029,
 0.03,
 0.031,
 0.032,
 0.033,
 0.034,
 0.035,
 0.036,
 0.037,
 0.038,
 0.039,
 0.04,
 0.041,
 0.042,
 0.043,
 0.044,
 0.045,
 0.046,
 0.047,
 0.048,
 0.049,
 0.05,
 0.051,
 0.052,
 0.053,
 0.054,
 0.055,
 0.056,
 0.057,
 0.058,
 0.059,
 0.06,
 0.061,
 0.062,
 0.063,
 0.064,
 0.065,
 0.066,
 0.067,
 0.068,
 0.069,
 0.07,
 0.071,
 0.072,
 0.073,
 0.074,
 0.075,
 0.076,
 0.077,
 0.078,
 0.079,
 0.08,
 0.081,
 0.082,
 0.083,
 0.084,
 0.085,
 0.086,
 0.087,
 0.088,
 0.089,
 0.09,
 0.091,
 0.092,
 0.093,
 0.094,
 0.095,
 0.096,
 0.097,
 0.098,
 0.099,
 0.1,
 0.101,
 0.102,
 0.103,
 0.104,
 0.105,
 0.106,
 0.107,
 0.108,
 0.109,
 0.11,
 0.111,
 0.112,
 0.113,
 0.114,
 0.115,
 0.116,
 0.117,
 0.118,
 0.119,
 0.12,
 0.121,
 0.122,
 0.123,
 0.124,
 0.125,
 0.126,
 0.127,
 0.128,
 0.129,
 0.13,
 0.131,
 0.132,
 0.133,
 0.134,
 0.135,
 0.136,
 0.137,
 0.138,
 0.139,
 0.14,
 0.141,
 0.142,
 0.143,
 0.144,
 0.145,
 0.146,
 0.147,
 0.148,
 0.149,
 0.15,
 0.151,
 0.152,
 0.153,
 0.154,
 0.155,
 0.156,
 0.157,
 0.158,
 0.159,
 0.16,
 0.161,
 0.162,
 0.163,
 0.164,
 0.165,
 0.166,
 0.167,
 0.168,
 0.169,
 0.17,
 0.171,
 0.172,
 0.173,
 0.174,
 0.175,
 0.176,
 0.177,
 0.178,
 0.179,
 0.18,
 0.181,
 0.182,
 0.183,
 0.184,
 0.185,
 0.186,
 0.187,
 0.188,
 0.189,
 0.19,
 0.191,
 0.192,
 0.193,
 0.194,
 0.195,
 0.196,
 0.197,
 0.198,
 0.199,
 0.2,
 0.201,
 0.202,
 0.203,
 0.204,
 0.205,
 0.206,
 0.207,
 0.208,
 0.209,
 0.21,
 0.211,
 0.212,
 0.213,
 0.214,
 0.215,
 0.216,
 0.217,
 0.218,
 0.219,
 0.22,
 0.221,
 0.222,
 0.223,
 0.224,
 0.225,
 0.226,
 0.227,
 0.228,
 0.229,
 0.23,
 0.231,
 0.232,
 0.233,
 0.234,
 0.235,
 0.236,
 0.237,
 0.238,
 0.239,
 0.24,
 0.241,
 0.242,
 0.243,
 0.244,
 0.245,
 0.246,
 0.247,
 0.248,
 0.249,
 0.25,
 0.251,
 0.252,
 0.253,
 0.254,
 0.255,
 0.256,
 0.257,
 0.258,
 0.259,
 0.26,
 0.261,
 0.262,
 0.263,
 0.264,
 0.265,
 0.266,
 0.267,
 0.268,
 0.269,
 0.27,
 0.271,
 0.272,
 0.273,
 0.274,
 0.275,
 0.276,
 0.277,
 0.278,
 0.279,
 0.28,
 0.281,
 0.282,
 0.283,
 0.284,
 0.285,
 0.286,
 0.287,
 0.288,
 0.289,
 0.29,
 0.291,
 0.292,
 0.293,
 0.294,
 0.295,
 0.296,
 0.297,
 0.298,
 0.299,
 0.3,
 0.301,
 0.302,
 0.303,
 0.304,
 0.305,
 0.306,
 0.307,
 0.308,
 0.309,
 0.31,
 0.311,
 0.312,
 0.313,
 0.314,
 0.315,
 0.316,
 0.317,
 0.318,
 0.319,
 0.32,
 0.321,
 0.322,
 0.323,
 0.324,
 0.325,
 0.326,
 0.327,
 0.328,
 0.329,
 0.33,
 0.331,
 0.332,
 0.333,
 0.334,
 0.335,
 0.336,
 0.337,
 0.338,
 0.339,
 0.34,
 0.341,
 0.342,
 0.343,
 0.344,
 0.345,
 0.346,
 0.347,
 0.348,
 0.349,
 0.35,
 0.351,
 0.352,
 0.353,
 0.354,
 0.355,
 0.356,
 0.357,
 0.358,
 0.359,
 0.36,
 0.361,
 0.362,
 0.363,
 0.364,
 0.365,
 0.366,
 0.367,
 0.368,
 0.369,
 0.37,
 0.371,
 0.372,
 0.373,
 0.374,
 0.375,
 0.376,
 0.377,
 0.378,
 0.379,
 0.38,
 0.381,
 0.382,
 0.383,
 0.384,
 0.385,
 0.386,
 0.387,
 0.388,
 0.389,
 0.39,
 0.391,
 0.392,
 0.393,
 0.394,
 0.395,
 0.396,
 0.397,
 0.398,
 0.399,
 0.4,
 0.401,
 0.402,
 0.403,
 0.404,
 0.405,
 0.406,
 0.407,
 0.408,
 0.409,
 0.41,
 0.411,
 0.412,
 0.413,
 0.414,
 0.415,
 0.416,
 0.417,
 0.418,
 0.419,
 0.42,
 0.421,
 0.422,
 0.423,
 0.424,
 0.425,
 0.426,
 0.427,
 0.428,
 0.429,
 0.43,
 0.431,
 0.432,
 0.433,
 0.434,
 0.435,
 0.436,
 0.437,
 0.438,
 0.439,
 0.44,
 0.441,
 0.442,
 0.443,
 0.444,
 0.445,
 0.446,
 0.447,
 0.448,
 0.449,
 0.45,
 0.451,
 0.452,
 0.453,
 0.454,
 0.455,
 0.456,
 0.457,
 0.458,
 0.459,
 0.46,
 0.461,
 0.462,
 0.463,
 0.464,
 0.465,
 0.466,
 0.467,
 0.468,
 0.469,
 0.47,
 0.471,
 0.472,
 0.473,
 0.474,
 0.475,
 0.476,
 0.477,
 0.478,
 0.479,
 0.48,
 0.481,
 0.482,
 0.483,
 0.484,
 0.485,
 0.486,
 0.487,
 0.488,
 0.489,
 0.49,
 0.491,
 0.492,
 0.493,
 0.494,
 0.495,
 0.496,
 0.497,
 0.498,
 0.499]

In [152]:
string = lang_lats[0].strip(',')
# lst = string.split(', ') 
# [float(i) for i in lst]

In [220]:
import decimal
def drange(x, y, jump):
    while x < y:
        yield float(x)
        x += decimal.Decimal(jump)

In [169]:
string = lang_lats[:2]
lst = [i.strip(',') for i in string]
lst = [i.split(', ') for i in lst]
lst = [tuple(coords) for coords in lst]
lst = [float(i) for coords in lst for i in coords]
# [coords for sublist in lst for coords in sublist]
it = iter(lst)
lst = [*zip(it, it)]

In [170]:
lst

[(-2.511761, 51.409966), (-2.515816, 51.408717)]

In [ ]:
## To Do
# Get One Big Dataframe with all different features
# Build Lasso
# Decide on what to predict - perhaps use "falls within" and use this to predict by moving to continous rather categorical

# filter df with Avon and Somerset Constabulary

## get clusters that is low in prediction so we can do compartive analysis

In [35]:
file1 = 'policeDatabaseOutcomesV5.db'
file2 = 'policeDatabaseStopAndSearchV5.db'
file3 = 'policeDatabaseV5.db'

In [192]:
def set_query(file_name, query_type, name_table):

    dbfile = file_name
    
    # Create a SQL connection to our SQLite database
    con = sqlite3.connect(dbfile) 


    if query_type == "limit":
        
        data = pd.DataFrame(con.execute("SELECT * FROM {}".format(name_table))) #after {} LIMIT 10000
        # gets the first 1000 files from database
    
        return data

    else:
        cur = con.cursor()
        cur.execute('SELECT COUNT(*) from {}'.format(name_table))
        cur_result = cur.fetchone()      
        
        return cur_result
    
def col_names(file_name, table_name):
    connection = sqlite3.connect(file_name)
    cursor = connection.execute('select * from {}'.format(table_name))
    names = list(map(lambda x: x[0], cursor.description))
    return names

In [50]:
df_outcome = set_query(file1, 'limit', 'outcomes')
col_names_list = col_names(file1, 'outcomes')
df_outcome.columns = col_names_list

In [68]:
df_crime = set_query(file3, 'limit', 'crimes')
col_names_list = col_names(file3, 'crimes')
df_crime.columns = col_names_list

In [193]:
df_stop = set_query(file2, 'limit', 'stopsearch')
col_names_list = col_names(file2, 'stopsearch')
df_stop.columns = col_names_list

In [194]:
stopsearch = df_stop.drop(['Part_of_a_policing_operation', 'Policing_operation', 'Gender', 'Age_range',
                       'Self-defined_ethnicity', 'Officer-defined_ethnicity', 'Legislation',
                       'Object_of_search', 'Outcome_linked_to_object_of_search', 
                           'Removal_of_more_than_just_outer_clothing'], axis=1)

In [217]:
stopsearch.drop(['Type'], axis = 1, inplace=True)

In [210]:
stopsearch['Date'] = pd.to_datetime(stopsearch['Date'])

In [214]:
stopsearch['Year'] = [i.year for i in stopsearch['Date']]

In [271]:
## Filter Nan values

stopsearch = stopsearch[stopsearch['Latitude'].notna() | stopsearch['Longitude'].notna()]

In [101]:
df_accidents.head(3)

month,01/2020,02/2020,03/2020,04/2020,05/2020,06/2020,07/2020,08/2020,09/2020,10/2020,11/2020,12/2020
local_authority_district,,,,,,,,,,,,
-1,65.0,60.0,32.0,20.0,40.0,61.0,49.0,72.0,77.0,163.0,157.0,195.0
1,100.0,103.0,64.0,26.0,69.0,64.0,97.0,111.0,124.0,99.0,74.0,98.0
2,61.0,73.0,54.0,20.0,33.0,46.0,60.0,59.0,66.0,57.0,41.0,43.0

In [283]:
# app = Nominatim(user_agent="tutorial")
# location = [app.geocode("{}, England".format(i)).raw for i in south_west['Region']]
# # print raw data
# print(location)

In [50]:
app = Nominatim(user_agent="tutorial")
location = app.geocode("Bournemouth, England").raw['boundingbox']
# print raw data
print(location)

['50.6794784', '50.7594784', '-1.9167712', '-1.8367712']

In [302]:
itemgetter(1, 3, 2, 5)(my_dict)

In [303]:
lang_lats_str = list(pd.Series(lang_lats_str).unique())

In [346]:
def points_states(i):
    return locator.reverse([i]).raw['address']['state_district']

In [343]:
lang_lats_s = lang_lats_str[:3] + ["0"]

In [344]:
lang_lats_s

['50.705809, -1.49944', '50.937776, -1.465688', '50.898832, -1.406438', '0']

In [329]:
points_states(lang_lats_1[0])

'South East England'

In [319]:
# lang_lats_1 = lang_lats_str[:3]
# location_lst_1 = [locator.reverse(i) for i in lang_lats_1]
states_last = [i.raw['address']['state_district'] for i in location_lst_1]

In [320]:
states_last

['South East England', 'South East England', 'South East England']

In [309]:
# locator = Nominatim(user_agent= "myGeocoder")
# location_lst = [locator.reverse(i) for i in lang_lats_str]

In [323]:
# import module sys to get the type of exception
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!", sys.exc_info()[0], "occurred.")
        print("Next entry.")
        print()
print("The reciprocal of", entry, "is", r)

The entry is a
Oops! <class 'ValueError'> occurred.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occurred.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5

In [ ]:
# Getting State District
state_district = [i.raw['address']['state_district'] for i in location_lst]

In [265]:
# Retriving Data linking to latitude and longitude

locator = Nominatim(user_agent= "myGeocoder")
coordinates = "53.480837, -2.244914"
coords = stopsearch['Latitude'].iloc[0], stopsearch['Longitude'].iloc[0]
location = locator.reverse(coords)
location.raw

{'place_id': 57939459,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'node',
 'osm_id': 5171155156,
 'lat': '50.7058309',
 'lon': '-1.4992911',
 'display_name': "Spence Willard, St James' Square, Yarmouth, Isle of Wight, South East England, England, PO41 0NP, United Kingdom",
 'address': {'office': 'Spence Willard',
  'road': "St James' Square",
  'town': 'Yarmouth',
  'county': 'Isle of Wight',
  'state_district': 'South East England',
  'state': 'England',
  'postcode': 'PO41 0NP',
  'country': 'United Kingdom',
  'country_code': 'gb'},
 'boundingbox': ['50.7057809', '50.7058809', '-1.4993411', '-1.4992411']}

In [254]:
# location.address

(location.raw['address']['state_district'])

'South East England'

### Making df Avon and Somerset Constabulary

In [110]:
def avon_frame(file_name, year):
    dbfile = file_name

    # Create a SQL connection to our SQLite database
    con = sqlite3.connect(dbfile) 

    cur = con.cursor()

    query = """ SELECT
        
         Crime_ID,
         Month,
         Reported_by,
         Falls_within,
         Longitude,
         Latitude,
         Location,
         LSOA_code,
         LSOA_name,
         Crime_type,
         Last_outcome_category,
         Context
    FROM
       crimes
    WHERE
       Falls_within LIKE '%{}%'
    """.format(year)   

    result = (cur.execute(query))
        
    result_df = pd.DataFrame(result.fetchall())

    return result_df

In [130]:
def avon__frame(file_name, year):
    dbfile = file_name

    # Create a SQL connection to our SQLite database
    con = sqlite3.connect(dbfile) 

    cur = con.cursor()

    query = """ SELECT *
    FROM
       crimes
    WHERE
       Falls_within LIKE '%{}%'
    """.format(year)   

    result = (cur.execute(query))
        
    result_df = pd.DataFrame(result.fetchall())

    return result_df

In [74]:
df_2014 = time_frame(file3, 'crimes', '2014')

In [132]:
# avon_df = avon_frame(file3, 'Avon and Somerset Constabulary') 
avon__df = avon__frame(file3, 'Avon and Somerset Constabulary')

In [135]:
## convert above dataframe into csv
avon__df.to_csv('avon_data.csv', encoding='utf-8', index=False)

In [ ]:
def time_frame(file_name, name_table, year):
    dbfile = file_name

    # Create a SQL connection to our SQLite database
    con = sqlite3.connect(dbfile) 

    cur = con.cursor()

    query = """ SELECT
         Crime_ID,
         Month,
         Reported_by,
         Falls_within,
         Longitude,
         Latitude,
         Location,
         LSOA_code,
         LSOA_name,
         Crime_type,
         Last_outcome_category,
         Context
    FROM
       {}
    WHERE
       Falls_within LIKE '%{}%'
    """.format(name_table, year)

    result = (cur.execute(query))
        
    result_df = pd.DataFrame(result.fetchall())

    return result_df